pkgbase = SimpleTwitchEmoteSounds
	pkgdesc = Simple sound trigger for Twitch emotes for a Twitch channel
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/AnonymerNiklasistanonym/SimpleTwitchEmoteSounds
	arch = any
	license = MIT
	makedepends = dotnet-sdk
	depends = dotnet-runtime
	depends = vlc
	depends = ffmpeg
	provides = SimpleTwitchEmoteSounds
	conflicts = SimpleTwitchEmoteSounds
	options = !strip
	source = SimpleTwitchEmoteSounds-1.3.0.tar.gz::https://github.com/AnonymerNiklasistanonym/SimpleTwitchEmoteSounds/archive/refs/tags/v1.3.0-linux.tar.gz
	sha256sums = SKIP

pkgname = SimpleTwitchEmoteSounds
